<div>
    <h1><%= portfolio.headline %></h1>
<%= portfolio.context %>
<% if (projects.length) { %>
    <% for (let project of projects) { %>
        <div>
            <h1><%= project.name %></h1>
            <%= project.description %> <br />
<% if (project.link) { %>
    <a href="<%= project.link %>">Visit <%= project.name %>></a>
<% } %>
        </div>
    <% } %>
<% } else { %>
    <div role="alert" >Not Found Anything</div>
    <% } %>
</div>